<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Автосбор системного блока
		link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,300" rel="stylesheet" type="text/css")
		link(rel="stylesheet", href="bower_components/material-design-lite/material.min.css")
		script(src="bower_components/material-design-lite/material.min.js")
		link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet", href="build/css/style.min.css")
	body
		.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
			header.mdl-layout__header
				.mdl-layout__header-row
					span.mdl-layout-title Title
					.mdl-layout-spacer
					nav.mdl-navigation.mdl-layout--large-screen-only
						a(href="").mdl-navigation__link Link
						a(href="").mdl-navigation__link Link
						a(href="").mdl-navigation__link Link
						a(href="").mdl-navigation__link Link
			.mdl-layout__drawer
				span.mdl-layout-title Title
				nav.mdl-navigation
					a(href="").mdl-navigation__link Link
					a(href="").mdl-navigation__link Link
					a(href="").mdl-navigation__link Link
					a(href="").mdl-navigation__link Link
			main.mdl-layout__content
				.page-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum eius expedita atque recusandae amet odio tempore quam beatae. Quis quod sit explicabo eos at vero voluptate! Magnam voluptate laudantium eius harum quod maxime sed et rerum eaque. Pariatur molestias itaque nam totam ipsum harum blanditiis odit vero quos, consequuntur, vel accusantium ullam veniam, rerum voluptatum dicta adipisci! Nemo veritatis magni ad placeat, impedit quos, similique dignissimos possimus accusamus reprehenderit quasi natus facilis est necessitatibus at veniam quis temporibus omnis amet eligendi, non quibusdam, repudiandae soluta. Magni minima autem expedita eaque quod repudiandae optio, debitis facilis nobis pariatur ut, assumenda sunt dolor temporibus. Harum reiciendis earum totam incidunt repellendus, molestias maiores eos dolorem eveniet nihil aspernatur deleniti, rem. Maxime iusto facere quis, recusandae quibusdam, in earum doloribus molestiae modi minima voluptatum consectetur ducimus nulla! Ut reiciendis minus, ab inventore neque omnis asperiores sapiente nulla eum nobis qui at aperiam nemo natus aut quas similique dolor. Impedit nisi velit voluptas quos ut repellat itaque possimus labore hic, laborum. Optio voluptatibus aut nemo ab expedita maiores omnis, laborum, minima numquam consectetur voluptatem vel, harum repellendus maxime neque. Quia odit impedit eum fugiat deleniti beatae qui placeat quasi, aspernatur inventore molestiae, tempore sed illo ut molestias neque. Quis eligendi error blanditiis a minus eaque autem ipsam, consequatur voluptatibus dicta qui quibusdam natus atque commodi, accusantium harum, mollitia, dolor aut! Ut eveniet, sed culpa error sequi cumque earum asperiores tenetur fuga delectus eius cupiditate dolorem nostrum corporis obcaecati, accusantium. Iste aperiam, debitis voluptate repellendus, eum blanditiis, eius atque nobis, expedita aliquam ullam dicta commodi neque rem facilis explicabo delectus dolor. Laborum iusto facilis consequuntur assumenda nihil laboriosam earum. Saepe error voluptate porro sed fuga a pariatur odio, atque accusamus adipisci veniam itaque est perferendis illum accusantium? Deserunt sed quisquam quaerat facere. Repellat nihil excepturi provident.
		script(src="build/js/script.min.js")